.main_section_here{
    min-height: 200vh;
    font-size: 2rem;
}
.child > p{
    background-color: #fff;
    border: 2px solid rgba(0,0,0,0.08);
    padding: 1.5rem;
    border-radius: 12px;
}
.child > .post_container > .indv_post{
    background-color: #fff;
    border: 2px solid rgba(0,0,0,0.08);
    padding: 1.5rem;
    border-radius: 12px;
    margin-bottom: 1rem;
}
.submit_post_here_info{
    background-color: #fff;
    border: 2px solid rgba(0,0,0,0.08);
    padding: 1.5rem;
    border-radius: 12px;
    display: flex;
}
.liner{
    width: 98%;
    border-bottom: 2px solid rgba(0,0,0,0.15);
    margin: 1rem auto;
}
.img_submit_post{
    width: 60px;
}
.img_submit_post > img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.active_submit_post_form{
    width: calc(100% - 60px);
}
.active_submit_post_form > button{
    width: 100%;
    height: 48px;
    border: 1px solid rgba(0,0,0,0.25);
    color: rgba(0,0,0,0.5);
    text-align: start;
    padding-left: 1.5rem;
    border-radius: 48px;
    font-weight: 600;
    background-color: transparent;
}
.active_submit_post_form > button:hover{
    background-color: rgba(0,0,0,0.08);
}
.modal_header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 0.8px solid rgba(0,0,0,0.15);
}
.modal_header > p{
    font-size: 2rem;
}
.modal_header > button{
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 2.5rem;
    color: rgba(0,0,0,0.4);
    height: 3.5rem;
    width: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0;
    transition-duration: 200ms;
    -o-transition-delay: 0;
    -o-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -webkit-transition-duration: 200ms;
    border-radius: 20px;
}
.modal_header > button:hover{
    background-color: rgba(0,0,0,0.08);

}
.indv_post_name{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
}
.indv_post_name > div:first-child{
    margin-right: 2rem;
}
.indv_post_name > div:last-child{
    font-size: 1.6rem;
    font-weight: 500;
}
.indv_post_name > div > img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.indv_post_name > div:last-child > span{
    font-size: 1.3rem;
    padding: 0.2rem 0.8rem;
    border: 1px solid rgba(0,0,0,0.5);
    color: rgba(0,0,0,0.6);
    display: inline-block;
    margin-top: 0.2rem;
    border-radius: 24px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0;
    transition-duration: 200ms;
    -o-transition-delay: 0;
    -o-transition-duration: 200ms;
    -moz-transition-duration: 200ms;
    -webkit-transition-duration: 200ms;
    border-radius: 20px;
    cursor: pointer;
}
.indv_post_name > div:last-child > span:hover{
    box-shadow: 0 0 1px 1.2px rgba(0,0,0,0.6);
}
.indv_input{
    margin-top: 2rem;
}
.indv_input > textarea{
    height: 100px;
    width: 100%;
    resize: none;
    border: none;
    padding: 0.5rem 1rem;
    outline: none;
    font-size: 1.6rem;
    font-weight: 400;
    color: rgba(0,0,0,0.7);
}
.indv_input:last-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.indv_input:last-child > button{
    height: 3.5rem;
    padding-top: 0.5rem;
    width: 6.5rem;
    border-radius: 24px;
    border: none;
    outline: none;
    background-color: #0a66c2;
    color: #fff;
    font-weight: 600;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0;
    transition-duration: 500ms;
    -o-transition-delay: 0;
    -o-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
}
.indv_input:last-child > button:hover{
    background-color: #064a8e;
}
.image_label{
    font-size: 1.6rem;
}
.image_label > input{
    color: rgba(0,0,0,0.6);
}
@media all and (max-width: 370px) {
    .indv_input:last-child{
        display: block;
    }
    .indv_input:last-child > button{
        display: inline-block;
        margin-top: 1rem;
    }
}
.indv_post_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.indv_post_header > div:first-child{
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}
.indv_post_header > div:first-child > img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 1rem;
    cursor: pointer;
}
.indv_post_header > div:first-child > div > p{
    font-size: 1.2rem;
    color: rgba(0,0,0,0.6);
    font-weight: 400;
}
.indv_post_header > div:first-child > div > span{
    cursor: pointer;
}
.indv_post_header > div:last-child{
    color: rgba(0,0,0,0.6);
}
.post_opt_icon{
    cursor: pointer;
}
.indv_post_body{
    margin: 1rem 0 0.3rem 0;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}
.indv_post_body > .indv_post_desc{
    font-size: 1.5rem;
    color: rgba(0,0,0,0.7);
}
.indv_post_img{
    width: 100%;
    margin: 1rem 0;
}
.indv_post_img > img{
    width: 100%;
    object-fit: contain;
}
.like_count{
    font-size: 1.2rem;
    color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: space-between;
}
.indv_post_footer > section{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 4rem;
}
.indv_post_footer > section > button{
    border: none;
    outline: none;
    font-size: 1.3rem;
    background-color: transparent;
    height: 5rem;
    color: rgba(0,0,0,0.6);
}
.indv_post_footer > section > button:hover{
    background-color: rgba(0,0,0,0.08);
    border-radius: 0.3rem;
    color: #000;
}
.post_footer_icon{
    font-size: 2rem;
}
.comment_container{
    margin: 2rem 0 0.5rem 0;
}
.comment_container > form{
    display: flex;
    justify-content: space-between;
}
.comment_container > form > input{
    height: 3rem;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 24px;
    outline: none;
    padding-left: 1rem;
    font-size: 1.4rem;
    width: 80%;
}
.comment_container > form > button{
    width: 15%;
    height: 3rem;
    border: none;
    outline: none;
    padding-top: 0.2rem;
    width: 6.5rem;
    border-radius: 24px;
    background-color: #2084e7;
    color: #fff;
    font-weight: 600;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0;
    transition-duration: 500ms;
    -o-transition-delay: 0;
    -o-transition-duration: 500ms;
    -moz-transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
}
.comment_container > form > button:hover{
    background-color: #0a66c2;
}
.comments_ > .indv_comment{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 10fr 1fr;
}
.comments_ > .indv_comment > section{
    display: flex;
}
.comments_ > .indv_comment > section > div{
    margin-left: 1rem;
}
.comments_ > .indv_comment > section > div > p:first-child{
    font-size: 1.6rem;
    font-weight: 600;
}
.comments_ > .indv_comment > section > div > p:last-child{
    font-size: 1.3rem;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
}
.delete_commment_btn > button{
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1.6rem;
    color: red;
}

.edit_btn{
    border: none;
    background-color: transparent;
    outline: none;
    width: 20px;
    font-size: 15px;
}
.indv_edit_div{
    position: relative;
}
.indv_edit_div > span{
    position: absolute;
    top: 20px;
    left: -70px;
    width: 100px;
    background-color: rgba(0,0,0,0.6);
    color: white;
}
.indv_edit_div > span > button{
    border: none;
    background-color: transparent;
    display: block;
    padding: 5px 2px;
    width: 80%;
    text-align: start;
    color: #fff;
}
.indv_edit_div > span > button:first-child{
    border-bottom: 1px solid rgba(0,0,0,0.15);
}