.navbar_container{
    height: 50px;
    max-height: 50px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar_container_child{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.logo_icon{
    font-size: 4rem;
    color: #0a66c2;
}
.logo_search{
    display: flex;
    align-items: center;
    width: 30%;
}
.nav_search_here{
    position: relative;
}
.sm_nav_search_here{
    display: none;
}
.nav_search_here > input{
    height: 33px;
    padding-left: 30px;
    font-size: 1.5rem;
    border: none;
    background-color: #eef3f8;
    outline: none;
    margin-left: 10px;
    border-radius: 5px;
}
.search_icon{
    font-size: 2rem;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
}
.nav_search_here > span{
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 15px;
}
.nav_items{
    width: 60%;
}
.nav_items_left{
    width: 100%;
    display: flex;
    font-size: 1.3rem;
    font-weight: 400;
    color: rgba(0,0,0,0.6);
    justify-content: space-between;
}
.nav_items_left > li{
    margin-right: 1rem;
    text-align: center;
}
.nav_items_left > li:nth-child(7){
    padding-left: 1rem;
    position: relative;
}
.nav_items_left > li:nth-child(7)::before{
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: -0.4rem;
    width: 0.01rem;
    background-color: rgba(0,0,0,0.1);
    height: 40px;
}
.nav_items_icon{
    font-size: 2rem;
}
.nav_items_left > li > a > span{
    display: block;
}
.nav_items_left > li > span{
    display: block;
}
.nav_items_left > li > a{
    color: rgba(0,0,0,0.6);
}
.nav_items_left > li > a:hover{
    color: #000;
}
.nav_items_left > li:hover{
    color: #000;
    cursor: pointer;
}
.nav_items_left > li:last-child{
    color: #915907;
}
.nav_items_left > li:last-child:hover{
    text-decoration: underline;
    text-decoration-color: #915907;
}
@media all and (max-width: 1200px) {
    .navbar_container_child{
        width: 98%;
    }
    .nav_items{
        min-width: 65rem;
    }
}
@media all and (max-width: 950px) {
    .navbar_container_child{
        display: flex;
        justify-content: flex-start;
    }
    .nav_search_here{
        display: none;
    }
    .sm_nav_search_here{
        display: block;
        margin-left: 2rem;
        font-size: 1.4rem;
        color: rgba(0,0,0,0.6);
        margin-right: 1rem;
    }
    .sm_nav_search_here:hover{
        color: #000;
        cursor: pointer;
    }
    .sm_nav_search_here > p{
        margin-top: -0.6rem;
    }
    .sm_search_icon{
        font-size: 2.5rem;
        margin-top: 0.1rem;
    }
    .logo_search{
        width: auto;
    }
    .nav_items{
        width: auto;
    }
    .nav_items_left{
        width: auto;
    }
}

@media all and (max-width: 768px) {
    .nav_items{
        min-width: 80%;
    }
    .nav_items_left > li{
        display: flex;
        align-items: center;
        margin-right: 1rem;
    }
    .nav_items_left > li > span{
        display: none;
    }
    .nav_items_left > li > a > span{
        display: none;
    }
    .sm_nav_search_here > p{
        display: none;
    }
}
.log_info_sec{
    position: relative;
    z-index: 9999999999;
}
.log_info_sec > .log_here{
    position: absolute;
    width: 140px;
    top: 35px;
    left: -50px;
    background-color: #fff;
}
.log_info_sec > .log_here > button{
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgba(0,0,0,0.6);
}
.log_info_sec > .log_here > button:hover{
    background-color: rgba(0,0,0,0.04);
}
.log_info_sec > .log_here > button:first-child{
    border-bottom: 0.5px solid rgb(213, 211, 211);
}
.helper_btn_crl{
    background-color: transparent;
    outline: none;
    border: none;
    color: rgba(0,0,0,0.6);
}
.helper_btn_crl:hover{
    color: #000;
}